<div class="column">
<table>
<tr>
  <th>名前</th>
  <th>タイトル</th>
  <th>作成日時</th>
  <th>拍手ボタン</th>
</tr>
<tr>
  <td><%= board.user.name%></td>
  <td><%= board.title%></td>
  <td><%= l board.user.created_at%></td>
  <td>
    <% if current_user.own?(board)%>
      <%= render "crud_menus", board: board%>
    <% else %>
      <%= render "applauser_button", board: board%>
    <% end %>
  </td>
</tr>
</table>
</div>